/*CSS DOCUMENT*/


html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {margin: 0;	padding: 0;	border: 0;	vertical-align: baseline;} /*My edited version of the Eric Meyer’s reset tool. You may want to include this in all of your future CSS files. */

img {
    width: 100%; /*Please leave this line.*/
}

body {
	background-color: rgb(208, 208, 208);
}

div.container {
	background-color: #ffffff;
}

header {
	background-color: #ed8d34;
	padding: 1.5em 1.5em 1.5em 1.5em;
}
main {
	padding: 1em .5em 1em .5em;
}

h1 {
	color: white;
	font-family: Sutro, serif;
	font-weight: 700;
	font-style: normal;
	margin-bottom: .5em;
}

h2 {
	color: #f8debf;
	font-family: Sutro, serif;
	font-weight: 400;
	font-style: normal;
	margin-bottom: .5em;
}


h3 {
	font-family: Sutro, serif;
	font-weight: 400;
	font-style: normal;
	color: #ed8d34;
	margin: 1em 1em .5em 1em;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}

li {
	margin: .5em .5em .5em .5em;
}

figcaption {
	font-family: Poppins, sans-serif;
	font-weight: 400;
	font-style: italic;
	color: #363636;
	padding: .5em 1.5em .5em 1.5em;
}

li {
	font-family: sans-serif;
	font-weight: 400;
	font-style: normal;
    
}

ul {
	margin: .5em .5em 3em .5em;

    
}

ol {
	margin: .5em .5em 3em .5em;

    
}

    

footer {
	background-color: #ed8d34;
	color: #ffffff;
	padding: 1.5em 1.5em 1.5em 1.5em;
}

p {
	font-family: Poppins, sans-serif;
	font-weight: 400;
	font-style: normal;
}

@media only screen and (min-width: 60em) {  


div.container {  
    max-width: 65em;  
    margin: auto;  
}  


header {  
    padding-top: 5em;  
}  


figure {  
    display: grid;  
    grid-template-columns: 8fr 2fr;  
    
}  


main {  
    display: grid;  
    grid-template-columns: 2fr 2fr;  
    column-gap: 1em;  
    padding: 1.5em;  
}  


figcaption {  
    padding-top: 2em; 
    padding-right: 2em;
    padding-left: 2em;
}  


h3 {  
    border-top: #ed8d34 solid .15em;  
    padding-top: 1.5em;  
    
}

